@font-face {

    src: url(/fonts/4204.otf);
    font-family: JReg;
}

body {

    background-color: whitesmoke;

}


.header {

    width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  /*  border: 1px solid orange; */

}


.header img {
    
    width:900px;
    
}



.text {

    width: 67%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {

    font-size: 18px;
    font-family: JReg;

}


.wrapper {

    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  /*  border: 1px solid aqua; */


}


.square {

    width: 900px;
    height: 900px;
    margin: auto;
/*    border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;


}



.row_1 {

    display: inline-flex;
    vertical-align: top; /*убирает отступы у блоков*/
    letter-spacing: 0em; /*убирает пробелы между блоками*/
    word-spacing: 0em;

}


.item {

    width: 180px;
    height: 180px;


}



.item img {

    width: 100%;
    height: 100%;

}


.item_2 {
    
    width:180px;
    height:180px;
    
}



.item_2 img {
    
    width:100%;
    height:100%;
    
}



.side_menu {



    margin: auto;
    width: 72%;
    margin-top:3%;
 /*   display: flex;
    flex-direction: row; */
 /*  border: 1px solid red; */


}

.side_menu li {

    list-style-type: none;
    display: inline-flex;
    margin-right: 4%;
  /*  border: 1px solid orangered; */

}

.side_menu li:last-child {

    margin-right: 2%;

}


.side_menu li a {

    text-transform: uppercase;
    font-family: JReg;
    font-size: 28px;
    text-decoration: none;
    color: black;

}





/*стили страницы ill*/


.wrapper_two {

     width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

 /*   border: 1px solid aqua; */

}




.quote {

    width: 27%;
    height: auto;

  /* border: 1px solid yellowgreen; */


}




.quote_style {
    
    font-family:JReg;
    font-size:17px;
    margin-top:0;
    padding-top:0;
    padding-right:40px;
    padding-left:40px;
    padding-bottom:0;
   /* text-align:justify; */
    text-align:left;
    text-align:-moz-left;
    line-height:1.6em; /*заплатка под мозиллу и ie, строки сливаются*/
    
}



.space {

    margin-top: 4%;

}


/*модальное окно*/

.modal_dialog {
    z-index: 999;
    width: 1280px;
    height: 1300px;
    background-color: whitesmoke;
    display: none;
    position: absolute;
    padding:0;
    margin-left:40px;
    
}


.modal_dialog:target {

    display: block;
    pointer-events: auto;

}

.close {

    font-family: JReg;
    text-decoration: none;
    color: black;

}


.wrapper_three {

width: 70%;
margin: auto;
margin-top: 2%;


display: flex;
flex-direction: row;
justify-content: space-between;

}




.photo_block {

width: 30%;


display: flex;
flex-direction: column;

margin-top: -1%;

}

.photo {

margin: auto;
margin-top: 3%;
margin-bottom: 0;

}

.photo img {

width: 220px;
height: 320px;


}


.crown {

margin: auto;
margin-top: 2%;
margin-bottom:0;


}

.crown img {

width: 70px;
height: 70px;

}




.about_text {

width: 70%;



}



.about_text_style {

font-family: JReg;
font-size: 20px;
margin: 0;
padding: 0;

text-align: justify;

line-height: 1.3em;

}




.icons {

display: inline-block;
float: right;

margin-top: -8%;

}

.icons img {


width: 50px;
height: 50px;

margin-right: 2.5em;



}

.icons img:last-child {

margin-right: 0;

}


.icons a {

width: 50px;
height: 50px;

margin-right: 2.5em;


}

.icons a:last-child {

margin-right: 0;

}


.mail_about {
    
    text-decoration:none;
    color:black;
    
}

.mail_about:hover {
    
    color:dimgrey;
    
    
}

