AddType application/x-httpd-php .inc
DirectoryIndex index.php

ErrorDocument 404 /error.php
ErrorDocument 500 /error.php
ErrorDocument 403 /error.php

RewriteEngine On
RewriteBase /
AddDefaultCharset UTF-8
Options -Indexes


#человекополезные каталоги
RewriteRule ^gallery/(illustration)\.html$ part.php?part=1 [L]
RewriteRule ^gallery/(lettering)\.html$ part.php?part=2 [L]
RewriteRule ^gallery/(improvisation)\.html$ part.php?part=3 [L]
RewriteRule ^gallery/([a-zA-Z]+)/([0-9]+)\.html$ gallery.php?part=$1&id=$2 [L]

#Убираем расширение файла из URL
RewriteRule ^(.*).html$ $1.php [L]
